<footer style="height: 10.5vh">
  <p>©2020 | Instanovella Inc</p>
  <div id="foot-links">
    <div class="foot-link">F</div>
    <div class="foot-link">T</div>
    <div class="foot-link">I</div>
  </div>
  <p><sub>By PrinceCodes247</sub></p>
</footer>
