<link rel="stylesheet" href="/css/navbar.css" />
<title>Instanovella</title>
</head>



  <%- include('partials/header') %>
<main>
  <section class="intro">
    <div id="welc">
      <h2>Welcome, <%= user.name %></h2>
    </div>
    <div class="card">
      <div class="top">
        <img src="test.jpg" alt="" />
        <div class="title">
          <h4>Test</h4>
          <h5>Comedy</h5>
        </div>
      </div>
      <div class="bottom">
        <p class="desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
          sed aliquam nulla.
        </p>
      </div>
    </div>
  </section>
  <article data-sect-name="Trending" class="sect" id="sec1">
    <div class="stories">
      
    </div>
  </article>
  <section>
    <h2>Categories</h2>
    <article data-sect-name="Comedy" class="sect" id="sec2">
      <div class="stories">
        <span class="story">
          <span class="card">
            <img src="test.jpg" alt="test" />
            <div class="title">
              <h4>Test if I'm isnnv see hi uh DC d bb</h4>
              <h5>Comedy</h5>
            </div>
          </span>
        </span>
        <span class="story">
          <span class="card">
            <img src="test.jpg" />
            <div class="title">
              <h4>Test</h4>
              <h5>Comedy</h5>
            </div>
          </span>
        </span>
        <span class="story">
          <span class="card">
            <img src="test.jpg" alt="test" />
            <div class="title">
              <h4>Test if I'm isnnvbb</h4>
              <h5>Comedy</h5>
            </div>
          </span>
        </span>
        <span class="story">
          <span class="card">
            <img src="test.jpg" />
            <div class="title">
              <h4>Test</h4>
              <h5>Comedy</h5>
            </div>
          </span>
        </span>
        <span class="story">
          <span class="card">
            <img src="test.jpg" />
            <div class="title">
              <h4>C d bb</h4>
              <h5>Comedy</h5>
            </div>
          </span>
        </span>
        <span class="story">
          <span class="card">
            <img src="test.jpg" />
            <div class="title">
              <h4>Test</h4>
              <h5>Comedy</h5>
            </div>
          </span>
        </span>
      </div>
    </article>
  </section>
</main>

<%- include('partials/menu') %>

    <script src="/js/stories.js" type="text/javascript" charset="utf-8"></script>
  